# Server
HOST=0.0.0.0
PORT=3000

# App Environment
NODE_APP=development

# Database
MONGO_URI=mongodb://localhost:27017/your_database
MONGO_URI_PRD=mongodb+srv://user:password@cluster.mongodb.net/your_database

# Auth
SECRET_KEY=your_secret_key_here
